html,
body
{
	font-size:16px;
}

body {
	background:#fff;
	color:#ffd900;
	margin:0 auto;
	width:730px;

	background:#333 url(<pixmap(hands-orig.jpg)>) center center no-repeat fixed;
	background-size:cover;
}

a {
	.fix-transition(@speed-fast);

	&,
	&:visited
	{
		color:#ffd900;
	}

	&:hover {
		color:#fff;
	}
}
