meta(name="og:description", content="Na nedělní konferenci dají všichni improvizátoři hlavy dohromady a pokusí se předat ostatním nové náhledy a impulzy.")
meta(name="og:image", content=\System\Resource::get_url('static', 'pixmap', 'conference-og.jpg'))
