:php
	$x = 0;

.results
	ol.results-inner
		- foreach $concepts as $concept
			li.workshop
				.pos!=(++$x).'.'
				.name!=$concept->name
				.count!=$concept->total


.results.results-verbal
	ol
		-foreach $requests as $rq
			li.results-inner!=$rq->other
