:php
	$x = 1;

.results
	ol.results-inner
		- foreach $concepts as $concept
			li.workshop(class='pos-'.$x)
				.pos!=($x++).'.'
				.name!=$concept->name
				.count!=$concept->total

.results.results-total
	.results-inner.
		Celkem hlasovalo #{count} lidí

.results.results-verbal
	ol
		-foreach $requests as $rq
			li.results-inner
				span.author #{$rq->name}:
				= ' '
				span.desc #{$rq->other}
