.ui-car-offers-popup_button {
	margin-bottom:25px;
}

.carshare-block {
	margin-bottom:25px;
	position:relative;

	&.sep {
		border-bottom:1px solid #ffd900;
		padding:0 0 25px;
	}

	&:last-child {
		margin:0;
	}

	.vehicle {
		opacity:.75;
		position:absolute;
		right:0;
		top:110px;
	}

	.rq-name {
		color:#fff;
		margin-right:10px;
	}

	.rq-status {
		font-size:12px;
	}

	.details {
		li {
			margin-bottom:7px;
		}

		.label {
			display:inline-block;
			margin-right:10px;
			vertical-align:bottom;
			width:90px;
		}

		.value {
			font-size:32px;
		}
	}
}

.carshare .content {
	background:none;
	padding:0;
}


#new-requests {
	border-top:1px solid #fff;
	padding-top:35px;
	margin-top:35px;
	max-width:640px;

	.desc {
		border-bottom:1px solid #ffd900;
		padding-bottom:20px;
		margin-bottom:20px;
	}

	.input {
		.outer,
		.desc,
		.input-container
		{
			display:inline-block;
			line-height:42px;
			vertical-align:top;
		}

		.input-container {
			select {
				vertical-align:middle;
			}
		}

		.desc {
			border:none;
			padding:0;
			margin:0;
		}
	}
}
