.conference {
	p,h4 {
		text-align:justify;
	}

	ul {
		margin-bottom:15px;

		li {
			text-align:left;
		}
	}

	.garant {
		li {
			list-style:square inside;
			padding:0 0 0 5px;
		}

		.col {
			min-width:210px;

			h4 {
				margin-bottom:8px;
			}
		}
	}
}
