.contact {
	.orgs {
		p {
			margin:0 auto;
			width:400px;
		}
	}

	.contact-list {
		text-align:left;
		width:400px;

		ul {
			padding:0 10px;
		}

		.label,
		.value
		{
			display:inline-block;
			line-height:28px;
		}

		.label {
			width:130px;
		}
	}
}

