#food-picker {
	& > .desc {
		margin-bottom:20px;
	}

	.input-radio {
		label,
		.input-container
		{
			line-height:22px;
		}

		input {
			height:auto;
			margin:0;
			min-width:0;
			padding:0;
			vertical-align:middle;
			width:auto;
		}

		.input-radio {
			label,
			.input-container
			{
				height:22px;
			}

			label {
				width:350px;
			}
		}
	}
}
