.ui-form-workshop_ideas {
	background:rgba(50,50,50,.2);
	padding:40px;
	margin-bottom:20px;
	text-shadow:
		0 0 1px #000,
		0 0 2px #333
		;

	.form-group-typed-inputs {
		margin-bottom:25px;
	}

	& > .desc {
		font-size:20px;
		line-height:24px;
		margin-bottom:30px;
	}

	.input-named-name,
	.input-named-email
	{
		font-size:22px;
	}

	.input-named-email {
		margin-bottom:30px;
	}

	.input-named-workshops {
		margin-bottom:0;

		& > .outer > label {
			font-size:22px;
			margin-bottom:20px;
		}
	}

	.input-named-other {
		padding-left:40px;

		label {
			display:none;
		}
	}

	.input-checkbox {
		input {
			height:auto;
			width:auto;
		}

		label {
			height:auto;
			width:580px;
			line-height:22px;
		}
	}

	.checkbox-multi {
		&:hover,
		&:active
		{
			& > .outer >label {
				color:#fff;
			}
		}

		.input {
			border-radius:6px;
			cursor:pointer;
			padding:10px 10px 13px;

			label {
				cursor:pointer;
			}

			&:hover {
				background:rgba(255,255,255,.15);
			}

			&:last-child {
				margin-bottom:0;
			}
		}
	}

	button,
	.button,
	.fp-button
	{
		color:#fff;
		background:#B82429;
		font-weight:normal;
		border:none;
		padding:5px 18px;
		border-radius:3px;
		cursor:pointer;
		text-decoration:none;
		display:inline-block;
		font-size:24px;
		text-transform:uppercase;

		&:hover {
			background:#86262A;
		}
	}

	button {
		display:block;
		width:150px;
		margin:0 auto;
	}
}
