.ui-form-workshop_ideas {
	.input {
		margin:10px;
	}

	.input-container,
	label
	{
		display:inline-block;
		vertical-align:top;
	}

	.input-container {
		margin-right:10px;
	}

	.name {
		font-size:22px;
		margin-bottom:5px;
	}

	.input-checkbox {
		label {
			width:600px
		}
	}
}
