.concepts-thanks {
	background:rgba(50,50,50,.2);
	padding:40px;
	margin-bottom:20px;
	text-shadow:
		0 0 1px #000,
		0 0 2px #333
		;

	p {
		margin-bottom:10px;
	}
}

.results {
	padding-top:50px;

	.results-inner {
		background:rgba(50,50,50,.25);
		margin:0 auto;
		padding:40px 20px;
		width:350px;

		.workshop {
			.fix-transition(@speed-fast);
			border-radius:4px;
			line-height:26px;
			padding:0 20px;

			&:hover {
				background:rgba(255,255,255,.15);
			}
		}

		.pos,
		.name,
		.count
		{
			cursor:default;
			display:inline-block;
		}

		.pos {
			opacity:.5;
			padding-right:10px;
			text-align:right;
			width:20px;
		}

		.count {
			text-align:right;
			width:50px;
		}

		.name {
			width:230px;
		}
	}
}

.results-verbal {
	.results-inner {
		padding:20px 40px;
		width:500px;
	}
}

.results-total {
	padding-top:10px;

	.results-inner {
		padding:20px;
		text-align:center;
	}
}
