.site-summary.sign {
	width:510px;
	padding-right:25px;
	padding-left:25px;
}

.ui-form-signup {
	text-align:left;

	.input-named-name_first,
	.input-named-name_last
	{
		display:inline-block;

		input {
			width:129px;
		}
	}

	.input {
		.desc {
			padding-top:5px;
			padding-left:160px;
			margin-bottom:15px;
		}
	}

	.input-checkbox {
		label {
			width:auto;
		}

		.input-container {
			line-height:42px;
		}

		input {
			height:auto;
			padding:0;
			vertical-align:middle;
			width:auto;
		}
	}

	button {
		display:block;
		margin:0 auto;
	}

	.input-select {
		.input-container {
			line-height:42px;
		}

		select {
			vertical-align:middle;
		}
	}
}
