if $show_form
	.concepts
else
	.concepts-thanks
		h1 Improtřesk 2015
		p Hlasování bylo ukončeno. Děkujeme za vaše hlasy. Sledujte <a href="https://www.facebook.com/events/1398346530471289/">facebookovou událost</a> kvůli novinkám.
