.about
	.desc
		p
			|Improtřesk je český festival divadelní improvizace a největší setkání improligových týmů z celé České republiky. Vznikl v roce 2011 u příležitosti oslav výročí 10 let od založení týmu Pra.Li.Ny, první skupiny v České republice, která se začala věnovat divadelním sportům a je organizován
			=' '
			a(href="http://www.improliga.cz") Českou improvizační ligou
			.
