.info-page.accomodation

	.info-section.accomodation
		h3 Ubytování

		p Kde se bude bydlet? V Domě Kultury v Milevsku, na stejných místech, kde budou přes den workshopy. Ubytovaní budete se svým týmem, mezitýmové změny jsou možné. Vemte si tedy s sebou spacák a karimatku, ať si uděláte super letiště.
		p
			| Pokud vám nevyhovuje spacákové letiště, mrkněte se do sekce
			=" "
			a(href=$ren->url('tips')) tipy
			=" "
			| určitě najdete nějaké hezké ubytko za dobrou cenu.
