.carshare
	p Vypravit autobus například z Brna do Milevska by vyšlo draho. Počítáme s tím, že letos mnoho z Vás pojede autem. Nabízíme možnost propojit řidiče s cestujícími. Improtřesk je vždy byl o poznávání lidí, tak pojďte do toho.

	h3 Mám auto
	p Pokud máš auto, zanech nám tady nabídku na odvoz s počtem míst a městem, ze kterého budeš vyjíždět. Ostatní už se ti ozvou. Tvoje kontaktní údaje nebudou zveřejněny. Každý řidič dostane za odměnu nálepku.

	h3 Sháním odvoz
	p Nelíbí se ti spoje z tvého města do Milevska? Je ti smutno? Chceš si svézt zadek? Tady je seznam všech, kteří nabízejí odvoz a počet zbývajících volných míst v autě. Ikonky nemusí přesně odpovídat typu auta.

	.car-offers
