.carshare
	.carshare-block
		h3 Detaily jízdy

		.vehicle(class=$item->icon)
		ul.details
			li
				span.label Z:
				span.value=$item->from

			li
				span.label Čas odjezdu:
				span.value=$item->departure->format("j.n. H:i")

	if $item->desc
		.carshare-block
			h4 Zpráva pro spolucestující
			.desc=$item->desc

	.carshare-block
		h4 Cestující

		if any($requests)
			ul.requests
				- foreach $requests as $row
					li=$row->name
		else
			p Zatím se nikdo nepřihlásil

	.carshare-block
		h3 Chci jet taky
		.car-requests-form(data-car-id=$item->id)
