.info-page.conference

	.site-summary
		p V neděli ráno po snídani dáme všichni hlavy dohromady a pokusíme se vymyslet něco nového. Cílem této konference je dát nové náhledy a impulzy nejenom Improlize, ale všem improvizátorům z České republiky. Připravili jsme jednoduchý formát konference inspirovaný již zaběhlým a funkčním modelem Coffee table conference.

	.site-summary#jak-to-funguje
		h3 Jak to funguje?

		p Máš možnost přihlásit svoje téma, tím se stáváš jeho garantem. Pokud nepřihlásíš svoje téma, dostaneš šanci vybrat si jednoho garanta a připojit se k němu v diskuzi.

		ul.course
			li.pick Každý kdo není garantem si svého najde
			li.time Spustíme odpočet přesně 60 minut
			li.discussion Probíhají oddělené diskuze na témata garantů
			li.finish Ukončíme diskuzi a svoláme všechny do sálu
			li.presentation Každý garant má přesně 6 minut na prezentaci

		p Každý garant by nám měl říct na co přišla jeho skupina po hodinovém bádání nad jeho tématem.

		.cols-inline.garant
			.col
				h4 Co dostane garant?

				ul
					li stoleček a nerušené místo
					li 60 minut času
					li právo řídit svojí diskuzi

			.col
				h4 S čím musí počítat?

				ul
					li se zodpovědností za téma
					li s výtahem informací z diskuze
					li s šestiminutovou prezentací

	.site-summary#temata
		h3 Témata

		p Garantem tématu se můžete stát zde, stačí zadat svoje jméno a formulovat svoje téma jako jednoduchou otázku.

		:php
			$ren->slot('topics');
			$ren->slot('topics-form');


	.site-summary#jak-dlouho
		h3 Jak dlouho to potrvá?
		p Délka trvání se bude odvíjet podle počtu přihlášených témat. Orientačně by se to dalo stihnout za dvě hodiny.
