.contact

	.summary
		p
			| Organizátorem festivalu Improtřesk 2015 je
			|  <a href="http://improliga.cz">Česká Improvizační Liga</a>
			|  ve spolupráci s
			|  <a href="http://www.milevskem.cz/kultura-a-volny-cas/dum-kultury-milevsko/o-nas">DK Milevsko</a>
			|.

	ul.details
		li
			.label Web:
			.value
				a(href="http://#{rq->host}")!=$rq->host

		li
			.label E-mail:
			.value
				a(href="improtresk@improliga.cz") improtresk@improliga.cz

		li
			.label Telefon:
			.value +420 123 456 789

		li
			.label Facebook
			.value
				a(href="https://www.facebook.com/improligacz") https://www.facebook.com/improligacz
