.info-page.food
	.info-section.food
		h3 Stravování

		p Kromě workshopů dostanete za základní poplatek za Improtřesk i něco do břicha, aby vám ráno nebylo hlady šoufl. Připravíme snídaně v pátek, sobotu a pokud vstaneme, tak i v neděli. Obědy budou skupinové v pátek a sobotu, v ceně okolo 90 korun za jídlo, podrobnosti ještě dodáme. Už víme, že si budete moci vybrat mezi jídlem s masem a stravou pro vegetariány.

		h3 Nabídka obědů

		p
			|Pokud jsi v přihlášce zaškrtl obědy, můžeš si
			=" "
			a(href=$ren->url('food.enter')) předvolit co chceš jíst.
			=" "
			|Tvůj výběr ti samozřejmě připomeneme na Improtřesku.

		h4 Pátek 8. 5.
		h5 Polévka

		ul
			li Vývar s nudlemi

		h5 Hlavní jídla
		ul
			li Zeleninové rizoto s houbami sypané sýrem, zelný salát
			li Smažený sýr, hranolky, tatarská omáčka
			li Smažený vepřový řízek, bramborový
			li Hovězí roštěná, houskový knedlík

		h4 Sobota 9. 5.
		h5 Polévka

		ul
			li Pórková s vejcem

		h5 Hlavní jídla

		ul
			li Zapečená brokolice s brambory, sýrem a vejci
			li Koprová omáčka s vejcem, houskový knedlík
			li Vepřo, knedlo, zelo
			li Kuřecí ragú na paprice, rýže
