.info-page.food
	.info-section.food
		h3 Stravování

		p Kromě workshopů dostanete za základní poplatek za Improtřesk i něco do břicha, aby vám ráno nebylo hlady šoufl. Připravíme snídaně v pátek, sobotu a pokud vstaneme, tak i v neděli. Obědy budou skupinové, v ceně okolo 90 korun za jídlo, podrobnosti ještě dodáme. Už víme, že si budete moci vybrat mezi jídlem s masem a stravou pro vegetariány.

		p Jídelníček zde zveřejníme později.
