.home
	.site-summary.main
		.motto
			a(href=$ren->url('about')) sladíme se

		.site-date
			.date 7. 5. - 10. 5. 2015

	.site-summary.location
		i.text
			| letos v
			=' '
			a(href="https://www.google.cz/maps/place/Dům+Kultury+Milevsko") Milevsku

	.site-summary.links
		a(href=$ren->url('signup')) Přihlásit
		a(href=$ren->url('carshare')) Chci jet autem
