.info-page

	.info-section.price
		h3 Účastnický poplatek

		ul
			li do 1.4.2015 1&nbsp;200 Kč
			li 1&nbsp;400 Kč po 1.4.2015

		p V poplatku je zahrnuta cena za workshop, ubytování (3 noci), 3 snídaně a vstupy na všechna představení v rámci Improtřesku 2015.


	.info-section.signout
		h3 Odhlašování

		p Odhlášení z Improtřesku nebo přehlášení na jiný workshop je možné pouze prostřednictvím kontaktního e-mailu, pište na <a href="mailto:improtresk@improliga.cz">improtresk@improliga.cz</a>

		p Pokud se odhlašujete z Improtřesku a nenaleznete za sebe náhradu, vyhrazujeme si právo zavést storno poplatek. Ten je počítán z platby za Improtřesk 2015. Jeho výše se dále odvíjí od data odhlášení.

		ol
			li při odhlášení do 7. 4. 2015 je storno poplatek 20% ceny
			li při odhlášení v termínu 8. 4. - 23. 4. je storno poplatek 80%
			li při odhlášení od 24. 4. je storno poplatek 100%


	.info-section.accomodation
		h3 Ubytování

		p Ubytování pro účastníky je zařízeno v prostorách DK Milvesko po improvizačních týmech.
		p Je potřeba mít s sebou vlastní spacák a karimatku.


	.info-section.food
		h3 Stravování

		p V základním poplatku za Improtřesk 2015 jsou zahrnuty páteční, sobotní a nedělní snídaně. V přihlášce si můžete doobjednat oběd na pátek a sobotu. Tato cena není zahrnuta v účastnickém poplatku. Ostatní jídlo je třeba zařídit vlastními silami.
