.schedule
	.site-summary
		p Ve čtvrtek, pátek a sobotu se můžete těšit na večerní představení, která jsou započítaná v <a href="#{$ren->url('fees')}">účastnickém poplatku</a>. Harmonogram celého Improtřesku zde naleznete později.

	.site-summary

		h2
			a(href="http://bandzone.cz/mucha") Mucha
		p Improtřesk byl a je a bude punkem a kdo jiný by nám ho měl otevřít než tato písničkářka, jejíž Ježíš je pro mnohé z nás srdcovkou. Jak dí “její” bandzone, hraje: “Úplně slušné i úplně sprosté písně pro chytré lidi”. Takže jede na pravé místo.

		img(src=$ren->link_resource('pixmap', 'photos/schedule/mucha.jpg'))

	.site-summary

		h2
			a(href="http://www.improliga.cz") Improliga
		p V pátek večer se můžete těšit na klasický zápas dvou improvizačních týmů. Účastníci Improtřesku si vyberou v hlasování, které týmy pro Vás budou hrát.

		img(src=$ren->link_resource('pixmap', 'photos/schedule/improliga.png'))

	.site-summary

		h2
			a(href="https://www.facebook.com/pages/saysomethingcz/199242120174966") SAYSOMETHING.CZ
		p V pátek večer vystoupí ve velkém sále DK Milevsko Metoděj & Dozer a jejich freestyle rap show. Ve zkratce TEMPO - ENERGIE - IMPRO. To chceš!

		img(src=$ren->link_resource('pixmap', 'photos/schedule/say-something.jpg'))

	.site-summary

		h2
			a(href="https://www.facebook.com/radio.ivo/timeline") RÁDIO IVO
		p Loni nám odvedli báječný workshop, kde dali spoustu prostoru našim impruchtivým egům a my máme neuvěřitelnou potřebu vidět ta jejich v akci. Proto je tu Johana Švarcová, Petr Marek a Marian Moštík a jejich improvizovaná rozhlasová hra na divadelních prknech.

		img(src=$ren->link_resource('pixmap', 'photos/schedule/radio-ivo.jpg'))

	.site-summary

		h2
			a(href="https://www.facebook.com/pages/Jumping-JellyFish/38186097971?sk=timeline") Jumping Jellyfish
		p Chlapci a děvčata, zadejte se! Improtřesk nám uzavře devítičlenná ska-funk-rocková kapela z Prahy. Připravte své boky na taneční nálož, která zbytky sil po celém festivalu promění v nevyčerpatelný fond energie. Roztočíme sukně a protančíme tenisky. Poslední večer na plný plyn s krásnými muzikanty a ještě hezčí zpěvačkou!

		img(src=$ren->link_resource('pixmap', 'photos/schedule/jumping-jellyfish.jpg'))


	.site-summary

		h2 DJ Tamagucci
		p Je to superhrdina. Každou noc udrží zábavu v plném proudu. Jeho tempo je nebezpečné. Jeho hudební výběr umí nakopnout i otevřít náruče. Je mezi námi, ale málo kdo o jeho schopnostech ví. Je to DJ TAMAGUCCI.

		img(src=$ren->link_resource('pixmap', 'photos/schedule/dj-tamagucci.jpg'))
