.info-page.fees
	p Připravujeme pro vás rady a tipy jak se dostat do Milevska, alternativní ubytování a další zajímavosti.

	h2 Ubytování

	p Nechcete spát mezi ostatními ve spacáku? Pár minut od KD Milevsko naleznete <a href="http://www.spos-milevsko.cz/ubytovani.html">hotel Stadion</a>, který nabízí poměrně levné ubytování za 250 Kč na noc. <a href="http://www.mapy.cz/zakladni?planovani-trasy&x=14.3663299&y=49.4444611&z=17&rc=9gtFYxUO1Wg-1fGR&rl=N%C3%A1dra%C5%BEn%C3%AD%20846%2F18&rl=J.%20A.%20Komensk%C3%A9ho%201034%2C%20Milevsko&rp={%22criterion%22%3A%22turist1%22}&ri=0">Kudy tam?</a>
	p Ve stejném místě jsou také obědy pro účastníky.
