.workshops
	p Na workshopech strávíte 12 hodin rozložených do pátku a soboty.

	- foreach $items as $ws
		.site-summary
			h3=$ws->name

			.desc!=$ws->desc

			h4=$ws->lector
			.desc-lector!=$ws->desc_lector

			:php
				$photos = $ws->photos->fetch();

			if $photos
				ul.photos
					- foreach $photos as $p
						li
							a.photo(href=$p->image->get_url())
								img(src=$p->image->thumb(120, 120), alt=$p->desc)
