doctype html
html(lang=$loc->get_lang())
	head
		include ../partial/scripts.jade

		link(rel='stylesheet', type='text/css', href=$ren->link_resource('style', 'screen'))

		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="description", content="Improtřesk 2015 - Festival divadelní improvizace")
		meta(name="viewport", content="width=device-width")

		meta(name="og:title", content=$loc->trans('public-name'))
		meta(name="og:url", content=$rq->path)

		:php
			$ren->content_for('title', $loc->trans('public-name'));
			$ren->content_from('head');

	body
		:php
			$ren->slot();

		include ../partial/ga.jade
