.frontend
	header
		.site-logo
			h1.text Improtřesk
			h2.subtitle!=$res->subtitle

		.site-menu
			menu
				li
					a(href=$ren->url('home')) Domů
				li
					a(href=$ren->url('workshops')) Workshopy
				li
					a(href=$ren->url('carshare')) Autem
				li
					a(href=$ren->url('accommodation')) Ubytování
				li
					a(href=$ren->url('food')) Jídlo
				li
					a(href=$ren->url('fees')) Poplatky
				li
					a(href=$ren->url('signup')) Přihláška
				li
					a(href=$ren->url('about')) O Improtřesku
				li
					a(href=$ren->url('tips')) Tipy
				li
					a(href=$ren->url('contact')) Kontakt

	.content
		.content-inner
			:php
				$ren->slot();
