.frontend
	header
		.site-logo
			h1.text Improtřesk
			h2.subtitle!=$res->subtitle

		.site-menu
			menu
				li
					a(href=$ren->url('home')) Domů
				li
					a(href=$ren->url('workshops')) Workshopy
				li
					a(href=$ren->url('info')) Pro účastníky
				li
					a(href=$ren->url('about')) O Improtřesku
				li
					a(href=$ren->url('signup')) Přihláška
				li
					a(href=$ren->url('contact')) Kontakt

	.content
		:php
			$ren->slot();
