.topics
	if $total > 0
		ul
			-foreach $items as $item

				li
					.topic=$item->topic
					.name=$item->name

	else
		p Nikdo ještě žádné téma nepřihlásil

	if $saved
		p Tvoje téma bylo uloženo. Děkujeme.
	else
		if $running
			if $total >= $limit
				p Celkový limit témat je zatím nastavený na #{limit}. Pokud se tvoje téma nevešlo, můžeš nás zkusit <a href="#{$ren->url('contact')}">kontaktovat</a>.
		else
			p Přidávání témat je uzavřeno.
